body{
  height:auto;
}
.carousel-inner>div
{height:auto;
}
.carousel-inner>.carousel-item>img{
  display: block;
  width:60%;
  margin:0 auto;
}
.my-bottom>div{
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 10px;
  padding:5% 3%;
  border-style: solid;
  border-width: 1px;
  border-color:#dee2e6;
  /*border-color: grey;*/

}
.my-bottom>.div1:hover{
  border-style: solid;
  border-width: 1px;
  border-color:#28a745;
}
.my-bottom>.div2:hover{
  border-style: solid;
  border-width: 1px;
  border-color:#dc3545;
}
.my-bottom>.div3:hover{
  border-style: solid;
  border-width: 1px;
  border-color:#007bff;
}
.my-bottom>div>h5{
  text-decoration: underline;
  text-align: center;
}


li{
  padding-left:10px;
  padding-right:10px;
}
@media (min-width:576px){
  .nav {
 flex-wrap: nowrap;
}
}

@media (max-width:884px){
  .nav {
 flex-wrap: wrap;
}
}

@media (min-width: 576px){
  .navbar-expand-sm{
    flex-wrap: wrap;
  }
}

.nav > li {
    position: relative !important;
    display: block !important;
}
